<h1>
  Auto-form:
</h1>
<form class="formGroup" [formGroup]="defaultForm">
  <fieldset formGroupName="general">
    <div class="control-wrapper">
      <label>Coverage Start Date:</label>
      <input type="date" formControlName="coverageStartDate" required />
    </div>
    <div class="control-wrapper">
      <label>Payment Frequency:</label>
      <select formControlName="paymentFrequency" required>
        <option value="Monthly">Monthly</option>
        <option value="Annualy">Annualy</option>
      </select>
    </div>
  </fieldset>
  <div class="control-wrapper">
    <label>Number of drivers:</label>
    <select
      formControlName="numberOfDrivers"
      required
      (change)="toggleFormControls(defaultForm.get('numberOfDrivers').value)"
    >
      <option selected>Please select</option>
      <option *ngFor="let driver of drivers">{{ driver }}</option>
    </select>
  </div>
  <ng-container *ngIf="defaultForm.get('numberOfDrivers').value > 0">
    <fieldset
      formArrayName="additionalDriver"
      *ngFor="let driver of formArr.controls; let i = index"
    >
      <div>
        <h3>Driver {{ i + 1 }}</h3>
      </div>
      <div [formGroupName]="i">
        <div class="control-wrapper">
          <label>Driver's date of birth:</label>
          <input type="date" formControlName="driverDob" required />
        </div>
        <div class="control-wrapper">
          <label>Driver's gender:</label>
          <select formControlName="driverGender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="control-wrapper">
          <label>Driver's Marital Status:</label>
          <select formControlName="driverMaritalStatus" required>
            <option value="Married">Married</option>
            <option value="Single">Single</option>
          </select>
        </div>
        <div class="control-wrapper">
          <label>Driver's Category:</label>
          <select formControlName="driverCategory" required>
            <option value="Occasional Driver">Occasional Driver</option>
            <option value="Frequent Driver">Frequent Driver</option>
          </select>
        </div>
        <div class="control-wrapper">
          <label>Driver Licence Date:</label>
          <input type="date" formControlName="driverLicenceDate" required />
        </div>
      </div>
    </fieldset>
  </ng-container>
</form>
<button [disabled]="!defaultForm.valid">Submit</button>
<div>
  <p>Form valid: {{ defaultForm.valid }}</p>
</div>
